@model EjercicioExamen.Models.VM.ClsMisionesPersonasVM

<div class="text-center">
    
    <form method="post">

        <select id="idMision" name="idMision">
            @foreach (var mision in Model.ListaMisiones)
            {

                <option value="@mision.IdMision">@mision.NombreMision</option>
            }
        </select>

        <button type="submit">Ver Candidatos</button>

    

    
    @if(Model.ListaCanditatos != null)
    {
        <ul>
            @foreach(var candidato in Model.ListaCanditatos)
            {
                <li>
                    @candidato.Nombre @candidato.Apellidos
                        @Html.ActionLink("Detalles", "Detalles", new { idCandidato = candidato.IdCandidato})
                    <br />
                </li>
            }
        </ul>
    }
    </form>

</div>
